@font-face {
	font-family: "GothamPro";
	src: url("../fonts/GothamProRegular/GothamProRegular.ttf") format("ttf"), 
		 url("../fonts/GothamProRegular/GothamProRegular.eot?") format("eot"),
		 url("../fonts/GothamProRegular/GothamProRegular.woff") format("woff");
	font-weight: 400;
}
@font-face {
	font-family: "GothamPro";
	src: url("../fonts/GothamProBold/GothamProBold.ttf") format("ttf"), 
		 url("../fonts/GothamProBold/GothamProBold.eot?") format("eot"),
		 url("../fonts/GothamProBold/GothamProBold.woff") format("woff");
	font-weight: 700;
}
@font-face {
	font-family: "GothamPro";
	src: url("../fonts/GothamProMedium/GothamProMedium.ttf") format("ttf"), 
		 url("../fonts/GothamProMedium/GothamProMedium.eot?") format("eot"),
		 url("../fonts/GothamProMedium/GothamProMedium.woff") format("woff");
	font-weight: 500;
}
@font-face {
	font-family: "GothamPro";
	src: url("../fonts/GothamProLight/GothamProLight.ttf") format("ttf"), 
		 url("../fonts/GothamProLight/GothamProLight.eot?") format("eot"),
		 url("../fonts/GothamProLight/GothamProLight.woff") format("woff");
	font-weight: 200;
}
