// Two colunms Layout Brick

.layout--twocol {
  display: flex;
  flex-wrap: wrap;

  .layout__region {
    flex: 0 1 100%;
  }

  @media screen and (min-width: 768px) {
    .layout__region--first,
    .layout__region--second {
      flex: 0 1 50%;
    }
  }
}

.about_routes {
  .layout--twocol {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .layout__region {
      flex: 0 1 100%;
    }
    @media screen and (min-width: 992px) {
      .layout__region--first,
      .layout__region--second {
        flex: 0 1 50%;
      }
    }
  }
}
