body {
  font-family: 'GothamPro', sans-serif;
  font-weight: 400;
  font-size: 18px;

  @media screen and (max-width: 591px) {
    font-size: 14px;
  }
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
}

h1 {
  font-size: 3em;
}

h2 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 1.8em;
  text-align: center;

  @media screen and (min-width: 592px) {
    font-size: 2.5em;
  }
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 1em;
}


