%btn-default {
  padding: 15px 65px;
  border-radius: 12px;
  transition: all .25s ease;
  text-transform: uppercase;
  border: none;
  outline: none;
  margin: 10px 0 10px 10px;

  @media screen and (max-width: 374px) {
    padding: 15px 35px;
    font-size: .8em; 
  }
}

.btn-blue {
  @extend %btn-default;

  background-color: $btn;
  color: #fff;
  
  &:hover,
  &:focus {
    background-color: $btn_hover;
    color: #fff !important;
    border: none;
    outline: none;
  }

  &.inactive-btn {
    background-color: #bbb !important;

    &:hover {
      background-color: #bbb !important;
    }
  }
}

.btn-white {
  @extend %btn-default;

  background-color: #fff;
  color: #333;

  &:hover,
  &:focus {
    border: none;
    outline: none;
    background-color: $btn_hover !important;
    color: #fff !important;
  }
}
