input {
  background-color: transparent !important;
  outline: none !important;
  box-shadow: none !important;
  padding: 25px 20px;
  height: auto !important;
  font-size: 1em !important;
  border-radius: 12px !important;

  &:focus {
    border: 1px solid $btn_hover !important;

    &::-webkit-input-placeholder {
      opacity: 0;
    }

    &::-moz-placeholder {
      opacity: 0;
    }

    &:-ms-input-placeholder {
      opacity: 0;
    }

    &:-moz-placeholder {
      opacity: 0;
    }
  }

  &::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    text-transform: uppercase;
    transition: opacity .5s ease;
  }

  &::-moz-placeholder {
    /* Firefox 19+ */
    text-transform: uppercase;
    transition: opacity .5s ease;
  }

  &:-ms-input-placeholder {
    /* IE 10+ */
    text-transform: uppercase;
    transition: opacity .5s ease;
  }

  &:-moz-placeholder {
    /* Firefox 18- */
    text-transform: uppercase;
    transition: opacity .5s ease;
  }
}

@mixin input-color {
  border: 1px solid #fff;
  color: #fff !important;
  
  &::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #fff !important;
  }

  &::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff !important;
  }

  &:-ms-input-placeholder {
    /* IE 10+ */
    color: #fff !important;
  }

  &:-moz-placeholder {
    /* Firefox 18- */
    color: #fff !important;
  }
}
