.scroll-icon_block {
  position: absolute;
  text-align: center;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%,0);
  z-index: 2;
  cursor: pointer;

  .scroll-icon {
    width: 30px;
    height: 60px;
    border: 2px solid #fff;
    border-radius: 20px;
    position: relative;
    margin-left: 50%;
    margin-bottom: 5px;
    transform: translate(-50%,0);

    &:after {
      content: '';
      display: block;
      width: 6px;
      height: 6px;
      background-color: #FFF;
      border-radius: 50%;
      position: absolute;
      bottom: 5px;
      margin-left: 50%;
      transform: translate(-50%,0); 
      //start animate
      animation-name: scroll-me;
      animation-duration: 3.5s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
    }
  }

  span {
    text-transform: uppercase;
    color: #fff;
    font-weight: 300;
  }
}

@keyframes scroll-me {
  60% { 
    bottom: 5px;
  }
  90% {
    bottom: 40px;   
  }
}
