{#
/**
 * @file
 * Default theme implementation to present a media entity.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
<article{{ attributes }}>
  {% if content.field_file %}
    {% set video_url = file_url(content.field_file[0]['#file'].uri.value) %}
    {% set video_mime = content.field_file[0]['#file'].getMimeType %}
    <video preload="metadata" loop="" muted="" autoplay="autoplay">
      <source src="{{ video_url }}" type="video/mp4">
    </video>
  {% endif %}
</article>
