.about_routes {
  .layout__region--first {
    text-align: right;
  }

  img {
    display: inline-block;
    @media screen and (max-width: 991px) {
      display: block;
      margin: 0 auto;
    }
  }

  ul {
    background-color: #fff;
    padding: 0 13px;

    li {
      position: relative;
      text-transform: uppercase;

      &::before {
        left: -50%;
        top: 13px;
        position: absolute;
        display: block;
        width: 100%;
        height: 1px;
        background-color: #333;
        content: '';
        z-index: -1;
      }

      @media screen and (max-width: 991px) {
        &::before {
          display: none;
        } 
      }
    }

    @media screen and (max-width: 991px) {
      //text-align: center; 
      width: 70%;
      margin: 0 auto; 
    }

    @media screen and (max-width: 591px) {
      width: 100%;
    }
  }
}
