section#block-bannerblock {
  position: relative;
  
  .btn {
    padding: 15px 0 !important;
    width: 300px !important;
    display: block;
    margin: 10px auto;

    @media screen and (min-width: 646px) {
      display: inline-block;
      margin: 0 10px;
    }
  }

  .btn {
    padding: 15px 0 !important;
    width: 300px !important;
    display: block;
    margin: 10px auto;

    @media screen and (min-width: 646px) {
      display: inline-block;
      margin: 0 10px;
    }
  }

  .banner {
    height: 100%;
    padding: 150px 0 200px 0;
    overflow: hidden;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.5);

    .content {
      text-align: center;
    }

    .field--name-field-preheader {
      position: absolute;
      top: 40px;
      left: 50%;
      transform: translate(-50%,0);

      img {
        width: 140px;
        padding: 0 10px;
      }
    }

    .field--name-field-logos {
      color: #fff;
      font-weight: 300;
      margin: 20px 0;
      text-transform: uppercase;
      font-size: 1em;
      font-weight: 300;

      @media screen and (max-width: 591px) {
        padding: 30px 5px;
      }

      img {
        padding: 10px 30px;

        @media screen and (max-width: 591px) {
          width: 260px;
          height: auto;
        }
      }
    }

    .field--name-field-title {
      font-size: 2em;
      max-width: 80%;
      display: inline-block;
      color: #fff;
      font-weight: 500;

      @media screen and (max-width: 591px) {
        font-size: 1.8em;
        min-width: 95%;
      }
    }

    .field--name-field-background {
      top: 0;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -2;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    &.fixed-bg .field--name-field-background {
      position: fixed;
    }

    .field--name-field-background-video {
      display: none;
      overflow: hidden;

      @media screen and (min-width: 591px) {
        display: block;
      }

      top: 0;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;

      video {
        height: 100%;
        width: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    &.fixed-bg .field--name-field-background-video {
      position: fixed;
    }
  }

  hr {
    width: 60%;
  }
}
