.call_back {
  padding: 60px 5px;
  position: relative;
  color: #fff;
  background-color: rgba(0, 0, 0, .5);
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  & > * {
    z-index: 1;
  }

  ul {
    list-style: none;
    padding: 0 40px;

    li {
      position: relative;
      padding: 8px 0 8px 10px;

      &::before {
        position: absolute;
        display: block;
        content: url('../images/marker.svg');
        left: -25px;
        top: 5px;
      }
    }
  }

  .callback-form {
    padding: 30px 0;
    width: 90%;

    .alert-danger {
      margin: 0 auto 40px;
      color: #fff !important;
      border: none !important;
      background-color: rgba(0, 0, 0, .5) !important;

      @media screen and (min-width: 768px) {
        width: 50%;
      }
    }

    div[id^="edit-inputs-wrapper"] {
      width: 50%;
      float: none;
      text-align: center;
      padding: 0px 15px;
      width: 100%;

      input {
        @include input-color;

        width: 340px;
        display: inline-block;

        @media screen and (max-width: 375px) {
          width: 100%;
        }

        &.error {
          border-color: #a94442;
        }
      }
    }

    .btn {
      margin: 0 auto;
      display: block;
      padding: 20px 35px;
    }
  }

  h2 {
    max-width: 100%;

    @media screen and (min-width: 40em) {
      max-width: 70%;
      margin: 35px auto;
    }
  }

  .field--name-field-image {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    overflow: hidden;
    bottom: 0;
    z-index: 0;

    &:before {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top:0;
      left: 0;
      background-color: rgba(0,0,0, .5);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
