.footer {
  background-color: $blue_accent;
  padding: 40px 0px 80px 0;
  width: 100%;
  color: #fff;
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: left;
  }

  a {
    color: #fff;

    &:hover {
      color: #fff;
    }
  }

  #block-socialnyeseti {
    .field {
      a {
        color: $blue_accent;
        opacity: .9;
        transition: all .2s ease;
        background-color: #fff;
        border-radius: 50%;
        display: -webkit-inline-flex;
        display: -moz-inline-flex;
        display: -ms-inline-flex;
        display: -o-inline-flex;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 45px;
        height: 45px;
        text-align: center;
        margin: 0 5px 15px;
        position: relative;
        cursor: pointer;

        &:hover {
          text-decoration: none;
          opacity: 1;
          color: #fff;
          background-color: transparent;

          &::after {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            display: block;
            border: 2px solid #fff;
            content: '';
            border-radius: 50%;
          }
        }

        i {
          font-size: 1.7em;

          &.fa-send::before {
            font-size: 0.9em;
          }
        }
      }
    }
  }

  ul {
    padding: 0;
    margin: 0;

    li {
      float: none;

      a {
        color: #fff;
        display: inline;

        &:hover,
        &:focus {
          text-decoration: underline;
          background-color: transparent;
        }
      }
    }
  }

  .navbar-nav {
    li {
      cursor: pointer;

      a {
        line-height: 2;
      }
    }
  }

  h2 {
    color: #fff;
    text-align: center;
    font-size: 1.7em;
    font-weight: 500;
    text-transform: none;

    @media screen and (min-width: 768px) {
      text-align: left;
    }
  }

  .region-copyright {
    padding: 40px 0;
    font-size: .8em;
    
    p {
      opacity: .8;
    }

    a {
      text-decoration: underline;
    }
  }
}
