.organisators {

  .layout__region--first,
  .layout__region--second {
    hr {
      margin: 15px 0 !important;
    }
  }

  h3 {
    padding-top: 20px;
    min-width: 66%;
    font-weight: 500;
    color: $btn;

    @media screen and (min-width: 992px) {
      display: block;
      max-width: 66%;
    }
  }
}
