.routes_overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(#000,.7);
  z-index: 1;
  top: 0;
  opacity: 0;
  transition: opacity .5s ease-in-out;
  pointer-events: none;

  &.opened {
    pointer-events: initial;
    opacity: 1;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.routes {
  position: relative;

  .routes-form {
    position: fixed;
    background-color: rgba(0, 0, 0, .85);
    width: 375px;
    z-index: 100;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    opacity: 0;
    transition: opacity .5s ease-in-out;

    &.opened {
      pointer-events: initial;
      opacity: 1;
    }
    
    @media screen and (min-width: 768px) {
      position: absolute;
    }

    input {
      @include input-color;

      width: 90%;
      display: inline-block;
    }

    .btn {
      position: relative !important;
      top: initial;
      left: initial;
      transform: none;
    }

    .close-btn {
      text-align: right;

      i {
        cursor: pointer;
        font-size: 1.5em;
        color: #fff;
        padding: 8px;
        transition: all .2s ease-in-out;

        &:hover {
          color: $btn_hover;
        }
      }
    }

    @media screen and (max-width: 375px) {
      width: 320px;
    }
  }

  .routes-slider {
    max-width: 100%;

    .slick-slide {
      position: relative;
      max-height: 600px !important;

      img {
        width: 100%;
      }

      &:focus,
      &:hover {
        outline: none;
      }
    }

    .slick-arrow {
      z-index: 1;
      width: 60px;
      height: 60px;

      &:before {
        font-size: 60px;
      }

      @media screen and (max-width: 768px) {
        display: none !important;
      }
    }

    .slick-next {
      right: 5%;

      @media screen and (min-width: 992px) {
        right: 100px;
      }
    }

    .slick-prev {
      left: 5%;

      @media screen and (min-width: 992px) {
        left: 100px;
      }
    }

    .slick-dots {
      li {
        width: auto;
        height: auto;

        button:before {
          position: absolute;
          content: '';
          width: 100%;
          height: 100%;
          border: 2px solid #888888;
          border-radius: 50%;
        }

        &.slick-active {
          button:before {
            background-color: #888888;
          }
        }
      }
    }
  }

  .routes-slide {
    .field--name-title {
      position: absolute;
      top: 0.7em;
      font-size: 3em;
      text-transform: uppercase;
      font-weight: 700;
      left: 1em;
      letter-spacing: 0;
      color: #fff;

      &::before {
        display: block;
        position: absolute;
        height: 2em;
        left: -0.3em;
        top: -0.1em;
        width: 2em;
        border: 3px #fff solid;
        content: '';
      }

      @media screen and (max-width: 991px) {
        font-size: 2em;
        width: 100%;
        text-align: center;
        left: 0;

        &::before {
          display: none;
        }
      }

      @media screen and (max-width: 591px) {
        font-size: 1.5em;
        top: 10px;
      }
    }

    .field--name-field-subtitle {
      position: absolute;
      font-size: 1.4em;
      top: 3.8em;
      text-transform: uppercase;
      left: 2.1em;
      color: #fff;
      @media screen and (max-width: 991px) {
        font-size: 1.2em;
        width: 100%;
        text-align: center;
        left: 0;
      }

      @media screen and (max-width: 767px) {
        display: none;
      }
    }

    .btn-white {
      position: absolute;
      z-index: 2;
      top: calc(45% - 30px);
      left: 50%;
      transform: translate(-50%, -50%);

      @media screen and (max-width: 768px) {
        top: 40%;
      }
    }

    .btn-blue {
      position: absolute;
      z-index: 2;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);

      @media screen and (max-width: 768px) {
        top: 60%;
      }
    }

    .logos {
      position: absolute;
      left: 0;
      bottom: 12px;
      width: 100%;
      background-color: rgba(0, 0, 0, .3);
      text-align: right;
      padding: 10px;

      img {
        display: inline-block;
        float: right;
        width: 200px;
        padding: 0 30px;
      }

      @media screen and (max-width: 767px) {
        bottom: 5px;
        background-color: transparent;
        text-align: center;

        img {
          float: none;
          width: 100px;
          padding: 0 8px;
        }
      }
    }
  }

  hr {
    text-align: center;
    width: 40%;
    border-bottom: 2px solid $btn;
  }
}
