//SELECT2
span.select2-search.select2-search--dropdown>input {
  padding: 10px 20px !important;
}

// Wrapper
.routes_wrapper {
  margin-top: -190px;
  position: relative;

  .select2-container {
    position: absolute;
    top: -65px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 70% !important;

    @media screen and (min-width: 768px) {
      width: 40% !important;
    }

    .select2-selection {
      height: 50px;

      .select2-selection__rendered {
        line-height: 50px;
        text-transform: uppercase;
        padding-left: 20px;

        .select2-selection__clear {
          font-size: 25px;
          right: 25px;
          line-height: 54px;
          color: $btn;
        }
      }

      .select2-selection__arrow {
        top: 48%;
        border: none;
        transform: translate(0, -50%);
        right: 20px;
        background: none;

        b {
          border-color: $btn transparent transparent transparent;
          border-width: 10px 9px 0 9px;
        }
      }
    }
  }

  .flex-wrap {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
  }

  .route-item {
    text-align: center;
    font-size: .8em;
    cursor: pointer;
    width: 25%;


    @media screen and (max-width: 992px) {
      width: (1/3)*100%;
    }

    @media screen and (max-width: 768px) {
      width: 50%;
    }

    @media screen and (max-width: 480px) {
      width: 100%;
    }

    @media (hover: hover) {
      &:hover {
        .field--name-field-route-image {
          &::after {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
    .route-title {
      font-weight: 700;
      letter-spacing: 1px;
      font-size: 1.3em;
      text-transform: uppercase;
      margin-bottom: 5px;
    }

    hr {
      margin: 8px auto;
      width: 30%;
      height: 0;
      border-bottom: 1px solid $btn;
    }

    .field--name-field-route-image {
      position: relative;
      display: inline-block;
      margin: 15px 0;

      &::before {
        content: '';
        position: absolute;
        z-index: 3;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 5px #fff solid;
      }

      &::after {
        position: absolute;
        z-index: 2;
        display: none;
        background-color: rgba(#000, .5);
        top: 0;
        left: 0;
        border-radius: 50%;
        width: 100%;
        height: 100%;
        content: url('../images/anchor.png');
        opacity: .7;
        transition: all .25s ease-in-out;
      }

      &.checked {
        &::after {
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flex;
          display: -o-flex;
          display: flex;
          align-items: center;
          justify-content: center;
          opacity: 1;
          background-color: rgba(#000, .7);
        }
      }

      img {
        border-radius: 50%;
      }
    }
  } // WEB FORM 
  .download-form-wrapper {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: all .5s ease-in-out;

    .overlay {
      background-color: rgba(#000, .5);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1001;
    }

    .download-form {
      position: absolute;
      text-align: center;
      z-index: 1002;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 280px;
      padding: 15px;
      background-color: #fff;

      @media screen and (min-width: 375px) {
        width: 320px;
      }

      form {
        margin-top: 20px;
      }

      .form-title {
        text-transform: uppercase;
        font-size: 1.4em;
        font-weight: 500;
      }

      .close-btn {
        float: right;
        padding: 0 0 10px;

        i {
          color: $btn;
          font-size: 1.2em;
          transition: all .25s ease-in-out;
          cursor: pointer;
          &:hover {
            color: $btn_hover;
          }
        }
      }

      #edit-phone_counter {
        display: none;
      }

      button {
        span.glyphicon {
          display: none;
        }
      }

      .form-type-select {
        display: none;
      }
    }

    &.opened {
      pointer-events: all;
      opacity: 1;
    }
  }

  .buttons {
    text-align: center;
    max-width: 100%;
    width: 100%;
    .btn-blue {
      display: block;
      margin: 15px auto;
      max-width: 70%;

      @media screen and (min-width: 768px) {
        margin: 15px 0;
        display: inline-block;
      }
    }
  } // WARNING 
  .warning {
    position: fixed;
    background-color: #def4ff;
    top: -100%;
    width: 280px;
    z-index: 1000;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1em;
    padding: 15px;
    text-transform: uppercase;
    transition: top .5s ease-in-out;
    text-align: center;

    @media screen and (min-width: 420px) {
      width: 350px;
    }

    .btn {
      margin: 15px 0;
    }

    .btn {
      margin: 15px 0;
    }

    &.opened {
      top: 25%;
    }

    p {
      margin: 35px 0 0 0;
      text-align: center;
    }

    .close-btn {
      float: right;
      padding: 0 0 10px;

      i {
        color: $btn;
        font-size: 1.2em;
        transition: all .25s ease-in-out;
        cursor: pointer;
        &:hover {
          color: $btn_hover;
        }
      }
    }
  } // Download-anchor
  .download-anchor-modal {
    position: fixed;
    right: 0;
    top: 25%;
    height: auto;
    width: 300px;
    transition: all .5s ease-in-out;
    z-index: 999;
    right: -120%;

    @media screen and (max-width: 480px) {
      width: 250px;
      top: 25%;
    }

    &.show {
      right: -300px;

      @media screen and (max-width: 480px) {
        right: -250px;
      }

      &.open {
        right: 0;
      }
    }

    .anchor-btn {
      position: absolute;
      width: 70px;
      height: 70px;
      left: -70px;
      top: 0;
      background-color: #006AF1;
      border-radius: 30% 0 0 30%;
      cursor: pointer;

      @media screen and (max-width: 480px) {
        width: 50px;
        height: 50px;
        left: -50px;
      }

      &::after {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        background: url('../images/anchor.png') center center;
        background-size: 35px auto;
        background-repeat: no-repeat;

        @media screen and (max-width: 480px) {
          background-size: 15px auto;
        }
      }
    }

    .anchor-title {
      color: #fff;
      height: 70px;
      display: block;
      width: 100%;
      background-color: #006AF1;
      text-align: center;

      @media screen and (max-width: 480px) {
        height: 50px;
      }

      h3 {
        line-height: 70px;
        font-weight: 300;
        font-size: 1.2em;
        margin: 0;

        @media screen and (max-width: 480px) {
          font-size: 1em;
          line-height: 50px;
        }
      }
    }

    .route-to-show {
      display: flex;
      margin-bottom: 15px;

      @media screen and (max-width: 480px) {
        margin-bottom: 10px;
      }

      img {
        display: inline-block;
        width: 60px;
        height: 60px;
        border-radius: 50%;
      }

      .right-text {
        display: inline-block;
        width: 70%;
        padding-left: 10px;

        p {
          font-size: 12px;
          display: inline-block;
          width: auto;
          margin: 0;
          font-weight: 600;
          letter-spacing: 1px;
        }

        span {
          font-size: 10px;
          display: inline-block;
        }

        .deleteBtn {
          text-decoration: underline;
          display: block;
          cursor: pointer;
        }
      }
    }

    .routes-to-download {
      background-color: #fff;
      padding: 20px;
      border: 2px solid #006AF1;
      border-top: none;

      .btn {
        display: block;
        margin: 0 auto;
        padding: 15px 20px;
        border-radius: 12px;
        transition: all .25s ease;
        text-transform: uppercase;
        border: none;
        outline: none;
        font-size: 1rem;
        text-align: center;
      }
    }
  }
}
