{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
  ]
%}

{% for item in items %}
  <div{{ attributes.addClass(classes, 'route-title') }}>
    {{ item.content }}
  </div>
{% endfor %}
