{# Slick #}
{{ attach_library('captain/routes-slider') }}

{#

vars:
* form_first_submit : true or fasle .
* form : form to display

#}
<div id="top_routes" class="routes">
  <h2>{{entity.title}}</h2>
  <hr>
  <div {{ attributes.addClass('routes-slider') }}>
      {{ entity.childs }}
  </div>

  {% set form_attributes = create_attribute() %}
  {%
  set my_classes = [
  'routes-form',
  form_first_submit ? 'first_submit'
  ]
  %}
  <div {{ form_attributes.addClass(my_classes) }}>
    <div class="close-btn"><i class="fa fa-times"></i></div>
    {{ form }}
  </div>
</div>
<div class="routes_overlay"></div>
