<div {{ attributes.addClass('routes-slide') }}>
    <a href="#" class="btn btn-white download">Скачать маршрут</a>
    <a class="btn btn-blue" href="/routes">Ещё 80 маршрутов</a>
    {{ entity }}
</div>
