{{ attach_library('captain/routes-browser') }}

{% set route_attributes = create_attribute() %}
{%
  set my_classes = [
  ]
%}

<div {{ attributes.addClass('routes_wrapper') }}>
  <select class="select"></select>
  <div class="container">
    <div class="flex-wrap">
      {% for child in entity.childs %}
          {{ child }}
      {% endfor %}
    </div>
    <div class="buttons">
      <a href="#" id="show_more" class="btn btn-blue">{{'Show more'|t}}</a>
    </div>
  <div class="download-form-wrapper">
    <div class="overlay"></div>
    <div class="download-form">
      <span class="close-btn"><i class="fa fa-times"></i></span>
      <span class="form-title">{{'Download Routes'|t}}</span>
      {{ form }}
    </div>
  </div>

  <div class="warning">
    <span class="close-btn"><i class="fa fa-times"></i></span>
    <p>Вы можете выбрать не больше, чем 3 маршрута</p>
    <a href="#" class="btn btn-blue">ок</a>
  </div>

  <div class="download-anchor-modal">
    <span class="anchor-btn"></span>
    <div class="anchor-title">
      <h3>Выбраные маршруты</h3>
    </div>
    <div class="routes-to-download">
      <div class="routes">
      </div>
      <a href="#" id="download" class="btn btn-blue download">{{'Получить доступ к маршрутам'|t}}</a>
    </div>
  </div>
</div>
